Django
djangorestframework
gunicorn
dj-database-url
django-cors-headers
django-environ
whitenoise
celery
redis
pillow
pandas
numpy
mysqlclient
psycopg2
python-dotenv
drf-yasg
watchdog
requests
validators
